<header class='navbar navbar-fixed-tap navbar-default'>
    <div class='container'>
        <%= link_to "myRecipes", root_path, class: "btn btn-lg btn-success", id: "logo" %>
        <div class='nav-item'>
            <%= link_to "Recipes List", recipes_path, class: "btn btn-default btn-warning" %>
        </div>
        <div class='nav-item'>
            <%= link_to "Enlace", "", class: "btn btn-default btn-warning" %>
        </div>
            <div class='nav-item'>
                <%= link_to "New Recipe", new_recipe_path, class: "btn btn-default btn-warning" %>
            </div>
        </div>
    </div>
</header>